.root {
    -fx-font-family: "Inter", sans-serif;
    -fx-background-color: #f4f4f4;
}




.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.label.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.text-field,
.password-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 6px;
    -fx-max-width: 150px;
}

.hyperlink {
    -fx-text-fill: #3498db;
    -fx-font-size: 12px;
}

.hyperlink:hover {
    -fx-text-fill: #2c3e50;
    -fx-underline: true;
}

.form-card {
    -fx-background-color: #ffffff;
    -fx-padding: 30px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.3, 0, 4);
    -fx-min-width: 150px;
}

.form-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #3498db;
}

.text-field,
.password-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 6px;
    -fx-max-width: 150px;
}

.text-field:focused,
.choice-box:focused,
.date-picker:focused {
    -fx-border-color: #3498db;
    -fx-effect: dropshadow(gaussian, rgba(52, 152, 219, 0.3), 5, 0.3, 0, 1);
}
